version: '3.8'

networks:
  architecture-example-network:
    driver: bridge

services:
  weather-station:
    build:
      context: ..
      dockerfile: containerization/weather-station.dockerfile
    container_name: weather-station
    restart: unless-stopped
    ports:
      - "80:8080"
    networks:
      - architecture-example-network

  weather-report:
    build:
      context: ..
      dockerfile: containerization/weather-report.dockerfile
    container_name: weather-report
    restart: unless-stopped
    ports:
      - "82:8080"
    networks:
      - architecture-example-network
